.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__book_icon {
  width: 40px;
  height: 40px;
  color: var(--purple-dark);
}

.header__fonts_theme_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__fonts_container {
  position: relative;
  width: 150px;
}

.header__fonts_display {
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header__fonts_display:hover {
  background-color: var(--highlight);
}

.header__fonts_display:hover .header__arrow_icon {
  color: black;
}

.header__arrow_icon {
  color: var(--purple-dark);
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease-in-out;
}

.header__arrow_icon_active {
  transform: rotate(-180deg);
}

.header__fonts_options_list {
  list-style-type: none;
  background-color: var(--background);
  box-shadow: 5px 10px 18px var(--gray-dark);
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  position: absolute;
  z-index: 20;
  top: 50px;
}

.header__fonts_option {
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 0;
}

.header__fonts_option:hover {
  background-color: var(--highlight);
}

.header__fonts_serif {
  font-family: "Times New Roman", Times, serif;
}

.header__fonts_sansSerif {
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.header__fonts_monospace {
  font-family: "Courier New", Courier, monospace;
}

.header__divider {
  height: 20px;
  width: 1px;
  background-color: var(--gray-light);
}

.header__theme_switcher {
  cursor: pointer;
}

.header__theme_icon {
  color: var(--purple-dark);
  width: 25px;
  height: 25px;
}
