.searchForm {
  margin: 20px 0;
  position: relative;
}

.searchbar {
  width: 100%;
  background-color: var(--gray-light);
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.searchbar:focus {
  outline: 2px solid var(--purple-medium);
}

.search_btn {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 0px;
  height: 100%;
  width: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: var(--purple-dark);
}

.search_btn:hover {
  color: var(--purple-medium);
}

.magnifyingGlass_icon {
  width: 18px;
  height: 18px;
}
