*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-light: #f4f4f4;
  --gray-dark: #8d8d8d;
  --purple-light: #e9d0fa;
  --purple-medium: #c279f7;
  --purple-dark: #aa43f2;
  --background: #fff;
  --foreground: #1d1d1d;
  --highlight: #e9d0fa;
}

[data-theme="dark"] {
  --background: #0f0f0f;
  --foreground: #fff;
  --highlight: #aa43f2;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
